<p>edit-customer works!</p>
<label>FirstName</label>
<input type="text" [(ngModel)]="user.firstname"/><br>
<label>LastName</label>
<input type="text" [(ngModel)]="user.lastname"/><br>
<label>Email</label>
<input type="text" [(ngModel)]="user.email"/><br>
<label>Address</label>
<input type="text" [(ngModel)]="user.address"/><br>
<label>City</label>
<input type="text" [(ngModel)]="user.city"/><br>
<label>State</label>
<input type="text" [(ngModel)]="user.state"/><br>

<input type="submit" (click)="editUser()"/>

<div>
    <div>
        <input type="submit" (click)="deleteUser()"/>
    </div>
</div>